body {
    font-family: sans-serif;
    display: flex;
  }
  
  h2 {
    color: white;
  }
  
  .bigScreen {
    background-color: "yellow";
  }
  
  .mediumScreen {
    background-color: "purple";
  }
  
  .smallScreen {
    background-color: "skyblue";
  }
  