body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .movie-app {
    display: flex;
    flex-direction: column;
    background-color: #282c34;
    color: black;
  }
  
  .movie-card {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 20px 40px 20px 40px;
  }
  
  .movie-app img {
    width: 200px;
    height: auto;
    margin: 10px 30px 10px 10px;
  }
  
  .movie-details {
    flex: 1;
  }
  
  .movie-app h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .movie-app h4 {
    margin: 0px;
  }
  
  .movie-app p {
    margin: 15px 20px 20px 0px;
  }
  
  .movie-genres {
    list-style: none;
    font-size: 14px;
    padding: 2px;
    color: white;
  }
  
  .movie-genres li {
    display: inline-block;
    margin-right: 10px;
    background-color: #4d5669;
    padding: 5px 10px;
    border-radius: 5px;
  }
  